body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgb(34, 34, 34);
}

header {
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 999;
  display: flex;
  align-items: center;
  background-color: rgb(68, 68, 68);
  box-sizing: border-box;
  border-bottom: 1px solid black;
}

a.text:active,
a.text:hover,
a {
  text-decoration: none;
  color: white;
}

/* ЛОГО */

.head-header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 15px;
}

.logo {
  height: 66px;
}

.hide {
  display: none;
}

.show {
  display: none;
}

.info,
.info_footer {
  font-size: 35px;
  margin: auto;
  color: white;
  cursor: pointer;
}

.info:hover {
  text-shadow: 1px 0 12px #000, 0 1px 12px #000, -1px 0 12px #000,
    0 -1px 12px #000;
}

.info{
  width: 120px;
  justify-content: center;
}

/* ПОИСК */

.search_submit {
  border-radius: 18px;
  width: 50px;
  margin: 0 0 0 10px;
  height: 50px;
  background-color: white;
  border: 2px solid black;
  background-image: url(../image/imgElem/lupa.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.search_text {
  height: 50px;
  border-radius: 18px;
  width: 350px;
  font-size: 20px;
  padding: 0 0 0 10px;
}

.search {
  margin: 10px 10px 10px auto;
  width: 450px;
  display: flex;
  align-items: center;
}

/* КОНТЕНТ */

.content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
  padding: 100px 10px 0 10px;
  color: white;
  font-size: 1.3em;
  box-sizing: border-box;
}

.info-text{
  width: 75%;
  display: flex;
  margin: 10px auto;
  flex-direction: column;
  text-align: left;
  background-color: rgb(65, 65, 65);
  border-radius: 15px;
}

.info-text-name{
  text-align: center;
  margin: 10px;
}

.info-text ul{
  margin: 0;
}

.info-text ul li{
  margin: 10px;
}

.info-text div{
  display: flex;
}

.link{
  margin: 30px auto;
  color: rgb(228, 178, 86);
  transition: 0.5s;
  text-align: center;
}

.link:hover{
  transition: 0.5s;
  text-decoration: underline rgb(228, 178, 86) solid;
}

.gallery{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
}

.gallery img{
  width: 20%;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.gallery-name{
  text-align: center;
  font-size: 1.3em;
}

/* Просмотр галереи */

.view-gallery{
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(24, 24, 24, 0.6);
  position: fixed;
  z-index: 999999;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}

.view-gallery-open{
  display: flex;
}

.image{
  display: none;
  max-width: 90%;
  max-height: 90vh;
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgb(85, 85, 85);
  box-sizing: border-box;
}

.open-image{
  display: block;
}



/* подвал*/

footer {
  position: relative;
  vertical-align: middle;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 10px;
  background-color: rgb(68, 68, 68);
}

.logo_footer {
  height: 65px;
  margin: 16px;
}

footer p {
  color: white;
  font-family: "Times New Roman", Times, serif;
  margin: auto;
  font-size: 25px;
  padding: 5px;
}

/* МЕДИА-ЗАПРОСЫ */

/* Для full hd и 2k */

@media screen and (min-width: 1920px) and (max-width: 2900px) {
}

/* Для телефонов */

@media screen and (max-width: 500px) {
  body header {
    display: flex;
    height: auto;
    width: 100%;
    padding: auto;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .info_footer {
    font-size: 30px;
  }

  .info-text{
    width: 90%;
  }

  .info-text ul{
    padding-inline-start: 20px
  }

  .gallery img{
    width: 90%;
  }

  /* ЛОГО */

  .head-header{
    width: 100%;
    margin: 0;
  }

  .logo {
    height: 60px;
  }

  /* КНОПКА */

  .hide {
    display: none;
    width: 25px;
    height: 25px;
  }

  .visibility_header {
    margin: 15px;
    background: rgb(46, 38, 38, 0.5);
    display: flex;
    width: 25px;
    height: 25px;
    border: 2px solid black;
  }

  .show {
    display: flex;
    width: 25px;
    height: 25px;
  }

  .info {
    font-size: 30px;
    display: none;
  }

  /* ПОИСК */

  .search_text {
    width: 230px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    height: 35px;
    padding: 0 10px;
    border-radius: 14px;
  }

  .search_submit{
    width: 35px;
    height: 35px;
    border-radius: 14px;
  }

  .search {
    display: none;
    max-width: 100%;
    width: auto;
    margin: 10px auto;
    padding: 0;
    justify-content: center;
  }

  /* подвал*/

  footer {
    position: relative;
    width: auto;
    flex-direction: column;
    margin: 30px 0 0 0;
  }

  footer p {
    margin: auto auto 20px auto;
    font-size: 20px;
  }
}

/* Для планшетов */

@media screen and (min-width: 501px) and (max-width: 950px) {
  body header {
    display: flex;
    height: auto;
    width: 100%;
    padding: auto;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .info_footer {
    font-size: 30px;
  }

  .info-text{
    width: 90%;
  }

  .gallery img{
    width: 45%;
  }

  /* ЛОГО */

  .head-header{
    width: 100%;
    margin: 0;
  }

  .logo {
    height: 60px;
    margin: 0;
    padding: 0;
  }

  /* КНОПКА */

  .hide {
    display: none;
    width: 25px;
    height: 25px;
  }

  .visibility_header {
    margin: 15px;
    background: rgb(46, 38, 38, 0.5);
    display: flex;
    width: 25px;
    height: 25px;
    border: 2px solid black;
  }

  .show {
    display: flex;
    width: 25px;
    height: 25px;
  }

  /* ФИЛЬТР */

  .info {
    font-size: 30px;
    display: none;
  }

  /* ПОИСК */

  .search_text {
    width: 230px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    height: 35px;
    padding: 0 10px;
    border-radius: 14px;
  }

  .search_submit{
    width: 35px;
    height: 35px;
    border-radius: 14px;
  }

  .search {
    display: none;
    max-width: 100%;
    width: auto;
    margin: 10px auto;
    padding: 0;
    justify-content: center;
  }

  /* подвал*/

  footer {
    position: relative;
    width: auto;
    flex-direction: column;
    margin: 30px 0 0 0;
  }

  footer p {
    margin: auto auto 20px auto;
    font-size: 22px;
  }
}
